{% extends "base.html" %}
{% block content%}


<hr style="margin-left: -50%;margin-right: -50%;" xmlns:post="http://www.w3.org/1999/xhtml"
    xmlns:recipe="http://www.w3.org/1999/xhtml">
<h1 style="text-align:center"> 태그들 </h1>
<hr style="margin-left: -50%;margin-right: -50%;">
<p style="display:inline;font-family:georgia;margin-left:-27%;font-size:50px"> our recipe </p>
{% if user.is_active %}

<a href="{% url 'recipe:recipe_create' %}">
    <p style="display:inline;font-family:georgia;float:right;margin-right:-20%;font-size:33px;border-width: 2px;">write</p>
     </a>
{% endif %}

<hr style="margin-left: -50%;margin-right: -50%;">

<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

<div class="container">
    {% with count=1 %}
<div class="row">
    {% for recipe in recipe_list %}
    <a href="{% url 'recipe:recipe_detail' recipe.Rec_conId %}">

    <div class="col-md-4 py-6"><ul class="card" style="width:18em;max-height:300px;min-height:300px">
        <h2>{{ recipe.Rec_conName }}</h2>
        {{ recipe.Rec_conModify|date:"N d, Y" }}
        <p>{{ recipe.get_recipe_summary | safe}}</p>
    </ul></div></a>
    {% endfor %}</div>
    {% endwith %}


    <div class="row">
        <div class="col-md-3">
            <div class="card card-1">
                <h3>Ionic Native</h3>
                <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to
                    your Ionic apps.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-2">
                <h3>UI Components</h3>
                <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library of mobile UI components, ready
                    to go.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-3">
                <h3>Theming</h3>
                <p>Learn how to easily customize and modify your app’s design to fit your brand across all mobile
                    platform styles.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-1">
                <h3>Ionic Native</h3>
                <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to
                    your Ionic apps.</p>
            </div>
        </div>
    </div>

</div>

<style>

html {
  background: #FAF7F2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}




body{
  font-family: 'Nunito', sans-serif;
  padding: 50px;
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
}



</style>

<br>
<hr style="margin-left: -50%;margin-right: -50%;">
<p style="display:inline;font-family:georgia;margin-left:-27%;font-size:50px"> youtube recipe </p>
{% if user.is_active %}

<a href="{% url 'recipe:youtube_create' %}">
    <p style="display:inline;font-family:georgia;float:right;margin-right:-20%;font-size:33px;border-width: 2px;">write</p>
     </a>
{% endif %}
<hr style="margin-left: -50%;margin-right: -50%;">

<div class="container">
        {% with count=1 %}
<div class="row">

    {% for youtube in youtube_list %}
    <a href="{% url 'recipe:youtube_detail' youtube.You_conId %}">

    <div class="col-4 py-3"><ul class="card" style="width:18em;max-height:300px;min-height:300px;">
        <h2>{{ youtube.You_conName }}</h2>
        {{ youtube.You_conModify|date:"N d, Y" }}
        <p>{{ youtube.get_you_summary | safe}}</p>
    </ul></div></a>
    {% endfor %}</div>
    {% endwith %}
    <div class="row">
        <div class="col-md-4">
            <div class="card card-1">
                <h3>Ionic Native</h3>
                <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to
                    your Ionic apps.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-2">
                <h3>UI Components</h3>
                <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                    of mobile UI components, ready to go.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-3">
                <h3>Theming</h3>
                <p>Learn how to easily customize and modify your app’s design to fit your
                    brand across all mobile platform styles.</p>
            </div>
        </div>
    </div>

</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


{% endblock %}
