{% extends "base.html" %}
{% block content%}
<style>

 .modal-confirm {
  color: #636363;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-confirm .modal-footer a {
  color: #999;
}

.modal-confirm .icon-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 225px;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  padding: 15px;
  background: #e42929;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
  color: #faf6f6;
  font-size: 50px;
  display: inline-block;
  margin-top: 8px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}

.modal-confirm .btn-info {
  background: #c1c1c1;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}

.modal-confirm .btn-danger {
  background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}


</style>
<div class="card">

<h1>Youtube List</h1>

<div>

<h1>{{youtube.You_conName}}</h1>

<ul>

 <a>{{youtube.You_conContent | safe}}</a></li>

</ul>

</div>

<a href="{% url 'recipe:recipe_listview' %}">목록으로</a>

  <div class="text-right">

<a href="{% url 'recipe:youtube_update' youtube.You_conId %}" class="mr-3">

<i class="far fa-edit"></i> 수정</a>


	<!-- Button HTML (to Trigger Modal) -->
	<a href="#myModal" class="trigger-btn" data-toggle="modal"><i class="fas fa-trash"></i> 삭제</a>


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">

<td><div class="swal2-icon swal2-question"><div class="swal2-icon-content">?</div></div></td>
				<h4 class="modal-title" style="text-align:center;">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
             <a href="{% url 'recipe:youtube_delete' youtube.You_conId %}"><button type="button" class="btn btn-danger">Delete</button></a>
			</div>

		</div>
	</div>
</div>

<script>
swal({
    title: "Are you sure?",
    text: "You will not be able to recover this Details!",
    type: "warning",   showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Yes, delete it!",
    cancelButtonText: "No, cancel!",
    closeOnConfirm: false,   closeOnCancel: false
}).then((result) => {
    if (result.value) {
        swal(
        'Deleted!',
        'Your file has been deleted.',
        'success'
        )
    }
})</script>


</div>

</div>

{% endblock %}